<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcc.usjt.felix113">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TelaLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaCadastro" />
        <activity
            android:name=".View.ViewCliente.TelaCliente"
            android:label="@string/title_activity_tela_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.ViewProfissional.TelaProfissional"
            android:label="@string/title_activity_tela_profissional"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ServicosAgendados" />
        <activity android:name=".ServicosAgendados2" />
        <activity android:name=".View.ViewCliente.TelaServicosVeiculos" />
        <activity android:name=".View.ViewCliente.TelaServicosCasa" />
        <activity android:name=".View.ViewCliente.TelaServicosCursos" />
        <activity android:name=".View.ViewCliente.TelaServicosPet" />
        <activity android:name=".View.ViewCliente.TelaServicosPessoal" />
        <activity android:name=".View.ViewCliente.TelaServicosTecnologia" />
        <activity android:name=".View.ViewProfissional.TelaCadastrarServicos" />
        <activity android:name=".View.ViewCliente.TelaServicosSaude" />
        <activity android:name=".View.ViewProfissional.TelaProfssionalCadastraVeiculos" />
        <activity android:name=".View.ViewProfissional.TelaProfissionalCadastraCasa" />
        <activity android:name=".View.ViewProfissional.TelaProfissionalCadastraCursos" />
        <activity android:name=".View.ViewProfissional.TelaProfissionalCadastraPessoal" />
        <activity android:name=".View.ViewProfissional.TelaProfissionalCadastraPet" />
        <activity android:name=".View.ViewProfissional.TelaProfissionalCadastraSaude" />
        <activity android:name=".View.ViewProfissional.TelaProfissionalCadastraTecnologia" />
        <activity android:name=".View.ViewProfissional.TelaProfissionalCadastraFotografia" />
        <activity android:name=".View.ViewCliente.TelaServicoFotografia" />
        <activity android:name=".View.SelecaoDeTipoDeCadastro" />
        <activity android:name=".View.TelaCadastroProfissional" />
        <activity android:name=".View.ViewProfissional.TelaFinalizandoCadastroProfissional" />
        <activity android:name=".View.ViewCliente.TelaAvaliaServico" />
        <activity android:name=".View.ViewCliente.TelaClienteListaServico" />
    </application>

</manifest>